.clock {
border: black 2px solid;
}

.calendar {
    border: green 2px solid;
}

.todo {
    border: red 2px solid;
}

.greeting {
    border: blue 2px solid;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
}